<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create or Login</title>
    <!-- Add Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="text-center mb-5">Sign in or Sign up a new Account</h1>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <button class="btn btn-primary mb-3">
            <a
              href="http://localhost:3000/signin.html"
              style="color: white; text-decoration: none"
              >SignIn</a
            >
          </button>
          <button class="btn btn-secondary mb-3">
            <a
              href="http://localhost:3000/signup.html"
              style="color: white; text-decoration: none"
              >SignUp</a
            >
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
